<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<h3>{{textabc}}</h3>

<h1>溶接チャートロボット</h1>
<div>

    <div id="chatbox">
        <p class="botText"><span>コンシェルジュ０号 ：ご要望は何ですか？</span></p>

    </div>
    <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
    </div>
    <div id="container">

        <div id="player">


            <br>
            <button id="btn-start-recording">Start Recording</button>
            <button id="btn-stop-recording" disabled>Stop Recording</button>

        </div>

    </div>


    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $.get("/get", {msg: rawText}).done(function (data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            });
        }

        function get_voice_response() {
            var url = document.querySelector("audio").src

            let formData = new FormData();
            formData.append(audio, url, 'audio.wav');

            $.get("/voice", {voice_msg: audio});
        }

        $("#textInput").keypress(function (e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function () {

            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }

            //get_voice_response();
        })
    </script>

</div>
<script src="../static/js/AudioRecorder.js"></script>
</body>
</html>
