<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<h1>溶接AI デモ</h1>
<div>
    <div id="container">

        <article class="tabs" id="div1">

            <input checked id="one" name="tabs" type="radio">
            <label for="one">チャート</label>

            <input id="two" name="tabs" type="radio" value="Two">
            <label for="two">Reserved</label>


            <div class="panels">

                <div class="panel">

                    <div id="chatbox">
                        <p class="botText"><span>溶接チャートロボット ：ご要望は何ですか？</span></p>

                    </div>

                    <div id="userInput">
                        <input id="textInput" type="text" name="msg" placeholder="Message">
                        <input id="buttonInput" type="submit" value="送信">
                    </div>
                    <button id="btn-start-recording">録音開始</button>
                    <button id="btn-stop-recording" disabled>録音停止</button>

                </div>

                <div class="panel">
                    div2
                </div>


            </div>

        </article>

    </div>


    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $.get("/get", {msg: rawText}).done(function (data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            });
        }

        function get_voice_response() {
            var url = document.querySelector("audio").src

            let formData = new FormData();
            formData.append(audio, url, 'audio.wav');

            $.get("/voice", {voice_msg: audio});
        }

        $("#textInput").keypress(function (e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function () {

            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }

            //get_voice_response();
        })
    </script>

</div>
<script src="../static/js/AudioRecorder.js"></script>
</body>
</html>
